* {
    box-sizing: border-box;
}
body {
    margin: 20px;
}
#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: aquamarine;
    box-shadow: 2px 4px 5px  gray;
}
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    background-color: aquamarine;
    margin-top: 10px;
    padding: 10px 0;
    height: 300px;
    box-shadow: 2px 5px 4px gray;
}
#donate-btn {
    display: flex; 
    justify-content: space-around;
    width: 100%;
    background-color: antiquewhite;
} 
#donate-btn button {
    border-radius: 20px;

}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: aquamarine;
    margin-top: 10px;
    box-shadow: 2px  4px 5px #9e7b6c;
} 
.img {
    display: inline-block;
}